@{
    ViewBag.Title = "Settings";
}

<div id="settings"></div>

@section scripts {
@Scripts.Render("~/Scripts/settings-panel.js")
<script>
window.settingsList = SettingsPanel.init(
    document.getElementById('settings'),
    {
        settingsUrl: '@Url.Action("Json")',
        setUrl: '@Url.Action("SetOverride")',
        clearUrl: '@Url.Action("ClearOverride")'
    }
);
</script>
}