body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.page-header {
    margin: 0 0 10px;
    padding-bottom: 0;
}

.bg-info {
    background-color: #d9edf7;
}

/* Settings Styles */

.setting {
    border-bottom: 1px solid #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
}

pre.setting-value {
    background-color: #fcfcfc;
    border-color: #eee;
    -ms-word-break: normal;
    word-break: normal;
    -ms-word-wrap: normal;
    word-wrap: normal;
}

.setting:last-child {
    border-bottom: none;
}

.setting-subtext {
    color: #777;
    font-size: 85%;
}

.setting-label {
    width: 30%;
    font-weight: bold;
}

.setting-separator {
    margin-top: 5px;
    margin-bottom: 5px;
}
